header{
    color: #F2EB3E;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
header h2{
    font-weight: 500;
    margin-left: 25px;
}
.social{
    display: flex;
    margin-left: auto;
    margin-right: 15px;
}
.social div{
    margin-left: 1rem;
}
.heading-sm{
    display: none;
    margin-left: 0;
}

@media screen and (max-width:1156px){
    .heading-lr{
        display: none;
    }
    .heading-sm{
        display: initial;
    }
}
@media screen and (max-width:850px) {
    .social{
        display: none;
    }
}